body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  image-rendering: pixelated;
  /* Keep pixel art sharp */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}